# Python
__pycache__/
*.pyc

# IDE
.idea/
.vscode/

# Mac
.DS_Store

# Training outputs
runs/
yolo26s_model/
yolo26s_trained/
efficientnetv2s_model/
efficientnetv2s_trained/

# Models
*.pt
*.pth


football_train/
football_val/
football_test/